@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Moul&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Moul&display=swap');
body{
    font-family: "Battambang";
    width: 70%;
    margin: auto;
}
.title{
    padding-top: 20px;
}

.h5{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.card:hover{
  transform: scale(1.03);
  cursor: pointer;
}
.card {
    transition: transform 0.5s;
}
.row{
    display: flex;
    justify-content: start;
}
.column {
    float: left;
    margin-top: 20px;
    width: 25%;
    padding: 0 10px;
  }

  .contents{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-radius:10px;
   
}

.contents .col-6{
    width: 50%;

   
}
.contents .col-6:nth-child(1){
    background: rgb(230, 229, 229);
    padding: 30px;
}
.contents .col-6 .items{
    display: flex;
}


.contents .col-6{
    width: 50%;

   
}
.contents .col-6:nth-child(1){
    background: rgb(230, 229, 229);
    padding: 30px;
}
.contents .col-6 .items{
    display: flex;
}




.footer h6{
    font-family: "Moul", serif;
}

@media only screen and (max-width: 600px) {
    body {
        width: 100%;
    }
    .content .row{
        display: flex;
        flex-wrap: wrap;
        align-items: center;

    }
    .card{
        width: 100%;
    }
  }