@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Moul&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Moul&display=swap');
body{
    font-family: "Battambang";
    width: 70%;
    margin: auto;
}
.title{
    padding-top: 20px;
}

.h5{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.card:hover{
  transform: scale(1.03);
  cursor: pointer;
}
.card {
    transition: transform 0.5s;
}
.row{
    display: flex;
    justify-content: start;
}
.column {
    float: left;
    margin-top: 20px;
    width: 25%;
    padding: 0 10px;
  }
.footer h6{
    font-family: "Moul", serif;
}